.UserInfo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  color: var(--clr-dark);
  margin-bottom: 3em;
  padding: 0 1em;
}

.UserInfo-infoWrapper {
  width: 100%;
}

.UserInfo-img {
  border-radius: 50%;
  margin-right: 1em;
  width: 6rem;
}

.UserInfo-name {
  margin: 0;
  font-weight: 500;
  font-size: 2em;
}

.UserInfo-login {
  margin: 0;
  font-weight: 300;
  font-size: 1.5em;
}

.UserInfo-bio {
  margin-top: 0.5em;
  line-height: 1.5;
  font-size: 0.75em;
}

@media (min-width: 1000px) {
  .UserInfo-container {
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0;
  }

  .UserInfo-infoWrapper {
    padding-left: 4rem;
  }

  .UserInfo-img {
    width: 17rem;
    margin-bottom: 2em;
  }
}
