.FetchMoreButton-btn {
  margin-top: 2em;
  width: 100%;
  max-width: 25rem;
  height: 3em;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 0.3em;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
}
